.menu{
    height: 60px;
    background-color: rgb(178, 146, 42);
    text-align: center;
    position: sticky; top: 0;
    border: solid black 2px;
    color: white;
    padding-bottom: 40px;
}
.car{
    display: inline-block;
    background-color: rgb(200, 200, 255);
    padding: 5px;
    border-radius: 10px;
}
.pro{
    display: inline-block;
    background-color: rgb(200, 200, 255);
    padding: 5px;
    border-radius: 10px;
}
.inicio{
    display: inline-block;
    background-color: rgb(200, 200, 255);
    padding: 5px;
    border-radius: 10px;
}
.reservas{
    display: inline-block;
    background-color: rgb(200, 200, 255);
    padding: 5px;
    border-radius: 10px;
}
body{
    background-color: #ffe9ac;
}
h1{
    text-align: center;
}
.prec{
    color: red;
}
