.menu{
    height: 60px;
    background-color: rgb(178, 146, 42);
    text-align: center;
    position: sticky; top: 0;
    border: solid black 2px;
    color: white;
    padding-bottom: 40px;
}
.imgrestaurante{
    width: 600px;
}
.car{
    display: inline-block;
    background-color: rgb(200, 200, 255);
    padding: 5px;
    border-radius: 10px;
}
.pro{
    display: inline-block;
    background-color: rgb(200, 200, 255);
    padding: 5px;
    border-radius: 10px;
}
.inicio{
    display: inline-block;
    background-color: rgb(200, 200, 255);
    padding: 5px;
    border-radius: 10px;
}
.reservas{
    display: inline-block;
    background-color: rgb(200, 200, 255);
    padding: 5px;
    border-radius: 10px;
}
body{
    text-align: center;
    background-color: #ffe9ac;
}
      table{
        width: 80%;
        height: 300px;
        tr:nth-child(even){
            background-color: black;
        }
        tr:nth-child(odd){
            background-color: white;
        }
      }
.b{
    color: white;
}
.d{
    color: white;
}
.f{
    color: white;
}
th{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    font-family: fantasy;
}